<div class="col-md-3">
    <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="" alt="">
        <div class="card-body">
            <p class="card-text">
                <a href="" class="btn-link"></a>
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <p class="badge badge-info">R$ </p>
                <small class="text-muted">{# Data Cadastro #}</small>
            </div>
            <small class="text-muted float-right">{# nome usuario #}</small>
        </div>
    </div>
</div>