{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-5">
        <h3>Alterar perfil para Cliente</h3>
        <hr>
        <h4 class="display-3 text-center">Parabéns!</h4>
        <p>Você está prestar a fazer um upgrade no seu perfil.</p>
        <p>Tornando-se um <strong>Cliente</strong>, além de poder anunciar seus serviços, também poderá comprar os serviços de outros freelancers.</p>
        <div>
            <a href="" class="btn btn-outline-dark btn-lg">Cancelar</a>
            <a href="" class="btn btn-success btn-lg">Sim, quero me tornar um cliente!</a>
        </div>
    </div>

{% endblock %}

{% block title %}
    Mudar para cliente -
{% endblock %}

